.page-heading {
  color: #246b97;
  background-color: #69afdb;
  padding: 4px 12px;
  box-shadow: 5px 5px 0px #246b97;
  border-radius: 5px;
  margin-bottom: 8px;
}

.icon-text {
  margin: 12px 0px;
  display: flex;
  align-items: center;
  gap: 8px;
}