.batch {
    color: #676767;
    position: relative;
    width: fit-content;
}
.batch::before {
    content: "";
    position: absolute;
    bottom: -8px;
    height: 12px;
    width: 0px;
    background: #042c3d;
    background: linear-gradient(90deg, rgba(4, 44, 61, 1) 0%, rgba(51, 126, 184, 1) 100%);
    border-radius: 20px;
    transition: .3s;
}

.batch:hover::before {
    width: 100%;
}